.about_section
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.upper_section, .lower_section
{
    height: 50%;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lower_section
{
    background-color: black;
}

.text_section
{
    font-family: 'Courier New', Courier, monospace;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text_section:nth-child(odd)
{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.text_section_center
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 28px;
}

.text_section h1
{
    color: white;
    font-family: 'Lato', sans-serif;
    /* font-size: 32px; */
    font-weight: 300;
    text-align: center;
}

.text_section h3
{
    font-family: 'Lato', sans-serif;
    color: #fff;
    /* font-size: 26px; */
    font-weight: 400;
    text-indent: 10px;
    margin-top: 2rem;
}

.text_section p
{
    color: #adb7bd;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 10px;
    width: 80%;
    margin: 0;
}

.img_section
{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_section img 
{
    width: 80%;
}

.text_section ul li
{
    text-indent: 20px;
    color: white;
    list-style: none;
    padding: 5px;
}

.text_section ul li::before
{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f005";
    top: 0;
    -webkit-font-smoothing: antialiased;
    color: #fdc541; 
    /* color: black; */
    /* text-shadow: 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white; */
    margin-left: -1rem;
    padding-right: 10px;
}

#baner_pic
{
    width: 100%;
}

#baner_text
{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#text_section_text
{
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.second_about
{
    height: 200vh;
}

@media only screen and (max-width: 600px) 
{

    .second_about
    {
        height: 250vh;
    }

    #baner
    {
        height: 40%;
    }

    #baner_text
    {
        height: 60%;
        justify-content: center;
        align-items: center;
    }

    .upper_section, .lower_section
    {
        height: 50%;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text_section
    {
        width: 95%;
        height: 50%;
        justify-content: space-evenly;
        align-items: flex-start;
        position: relative;
    }

    .text_section:nth-child(odd)
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text_section h1
    {
        color: #FFC947;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        font-weight: 300;
        padding: 0px 0px 0px 0px;
        /* margin: 10px 0; */
    }

    /* .text_section h1::first-letter
    {
        color: white;
    } */

    .text_section p
    {
        color: #adb7bd;
        font-family: 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
        /* line-height: 26px; */
        text-indent: 10px;
        padding: 0px 10px 0px 10px;
    }

    .img_section
    {
        width: 100%;
    }   

    .text_section p
    {
        overflow: scroll;
    }
}