<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/about_style.css">
    <script src="https://kit.fontawesome.com/3131841332.js" crossorigin="anonymous"></script>
    <title>Eryk Kucharski</title>
    <link rel="shortcut icon" href="../ehozeicon.ico"/>
</head>
<body>
    <!-- 
        MENU
    -->
        <nav class="flex">
            <div id="nav-logobox" class="flex">
                <button class="navmenu" id="menu-btn"><i id="menuicon" class="fas fa-caret-square-down"></i></button>
            </div>
        </nav>
        <div class="modal-bg flex">
            <div class="modal">
                <ul>
                    <li><a href="../index.html">Start&nbsp;<i class="fas fa-home"></i></a></li>
                    <li><a href="../views/about.html">O mnie&nbsp;<i class="fas fa-address-card"></i></a></li>
                    <li><a href="../views/portfolio.html">Portfolio&nbsp;<i class="fas fa-wrench"></i></a></li>
                    <li><a href="../views/contact.html">Kontakt&nbsp;<i class="fas fa-sms"></i></a></li>
                </ul>
                <span class="modal-close">X</span>
            </div>
        </div>
    <!-- 
    END OF MENU
    -->

    <!-- SOF SECTION -->
    <section class="about_section">

        <!-- UPPER SECTION -->
        <div class="upper_section" id="baner">    
            <div class="img_section" id="baner_pic">
                <img src="../assets/about/me_inthe_mirror_bg.png">
            </div>
        </div>

        <!-- LOWER SECTION -->
        <div class="lower_section" id="baner_text">
            <div class="text_section" id="text_section_text">
                <h1>
                    Jeśli już tu jesteś, moglibyśmy się trochę zapoznać, znajdziesz tu trochę infromacji o mnie oraz coś na kształt autobiografii 😋
                </h1>
                <h3>Kilka podstawowych informacji:</h3>
                <ul>
                    <li>Wiek: <o class="orange">19</o></li>
                    <li>Wykształcenie: <o class="orange">Średnie</o></li>
                    <li>Kwalifikacje zawodowe: <o class="orange">EE.09</o></li>
                    <li>Zainteresowania: <o class="orange">Programowanie, gry, mikrokontrolery, muzyka oraz siatkówka</o></li>
                    <li>Lokalizacja: <o class="orange">Wielkopolska</o></li>
                </ul>
                <div class="text_section_center">
                    <a href="#lower">
                        <h1><o class="orange"><i class="fas fa-arrow-down"></i></o></h1>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- EOF SECTION -->

    <!-- SOF SECTION -->
    <section class="about_section second_about" id="lower">

        <!-- UPPER SECTION -->
        <div class="upper_section">    
            <div class="text_section">
                <h1><o class="orange">Nauka i cele</o></h1>
                <p>
                    Jestem na ten moment uczniem 4 technikum, moim kierunkiem jest Technik Programista. Jeśli chodzi o plany to chcę uczyć się front-endu następnie poszerzać dalej swoją wiedzę web'ową o back-end. Dodatkowo chcę przez bieżący rok (tj. 2021/2022) kształcić się w kierunku mikrokontrolerów.
                </p>
            </div>

            <div class="img_section">
                <img src="../assets/about/school.jpg" alt="Żarówka na zielonej tablicy">
            </div>
        </div>

        

        <!-- LOWER SECTION -->
        <div class="lower_section">
            <div class="img_section">
                <img src="../assets/about/hobbies.jpg" alt="Mężczyzna czytający książke na podłodze">
            </div>
            
            <div class="text_section">
                <h1><o class="orange">Trochę więcej o moich zainteresowaniach</o></h1>
                <p>
                    Wyżej w zainteresowaniach wypisałem tak naprawdę głównie programowanie ale to nie wszystko. Lubię się odmóżdżyć co za tym idzie lubie pograć w niewymagające casualowe gierki. Ze sportów najbardziej uwielbiam granie w siatkówkę i najzwyklejsze spędzanie czasu na dworze aby się dotlenić. Uwielbiam słuchać muzyki, co raz częściej słucham polskich wykonawców gdzie kiedyś ograniczałem się tylko do angielskiego rynku muzycznego.
                </p>
            </div>
        </div>


        <!-- LOWER SECTION II -->

        <div class="lower_section">
            <div class="text_section">
                <h1><o class="orange">O pracy</o></h1>
                <p>
                    Pracując nad stroną czy to dla siebie czy dla kogoś, staram się włożyć w to 100% serca aby efekt końcowy był zadowalający dla ostatecznego klienta. Cały czas się kształcę, jednakże nie przeszkadza mi to w tym by podejmować się trudnych zadań. Jestem gotowy na wyzwania.
                </p>
            </div>

            <div class="img_section">
                <img src="../assets/about/work.jpg" alt="Zdjęcie Ludzi Opartych Na Drewnianym Stole">
            </div>            
        </div>

    </section>
    <!-- EOF SECTION -->

</body>
<script src="../js/menu.js"></script>
</html>