<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/contact_style.css">
    <script src="https://kit.fontawesome.com/3131841332.js" crossorigin="anonymous"></script>
    <title>Strona kontaktowa</title>
    <link rel="shortcut icon" href="../ehozeicon.ico"/>
</head>
<body>
    <!-- 
        MENU
    -->
        <nav class="flex">
            <div id="nav-logobox" class="flex">
                <button class="navmenu" id="menu-btn"><i id="menuicon" class="fas fa-caret-square-down"></i></button>
            </div>
        </nav>
        <div class="modal-bg flex">
            <div class="modal">
                <ul>
                    <li><a href="../index.html">Start&nbsp;<i class="fas fa-home"></i></a></li>
                    <li><a href="about.html">O mnie&nbsp;<i class="fas fa-address-card"></i></a></li>
                    <li><a href="portfolio.html">Portfolio&nbsp;<i class="fas fa-wrench"></i></a></li>
                    <li><a href="contact.html">Kontakt&nbsp;<i class="fas fa-sms"></i></a></li>
                </ul>
                <span class="modal-close">X</span>
            </div>
        </div>
    <!-- 
        END OF MENU
    -->
    <header>
        <div class="header_text">
            <h1 id="h1_header">Znajdziesz mnie <span style="font-weight: 600; color: #FFC947;">tu:</span></span></h1>
        </div>
        <div class="list">
            <ul class="contact_list">
                <li><a href="https://www.fb.com/ehoze" target="_blank"><i class="fab fa-facebook"></a></i></li>
                <li><a href="https://discordapp.com/users/290888903169146880" target="_blank"><i class="fab fa-discord"></a></i></li>
                <li><a href="https://instagram.com/erysioxk" target="_blank"><i class="fab fa-instagram"></a></i></li>
            </ul>
        </div>
    </header>

    
</body>
<script src="../js/menu.js"></script>
</html>