<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/portfolio_style.css">
    <script src="https://kit.fontawesome.com/3131841332.js" crossorigin="anonymous"></script>
    <title>Eryk Kucharski</title>
    <link rel="shortcut icon" href="ehozeicon.ico"/>
</head>
<body>
    <!-- 
        MENU
    -->
        <nav class="flex">
            <div id="nav-logobox" class="flex">
                <button class="navmenu" id="menu-btn"><i id="menuicon" class="fas fa-caret-square-down"></i></button>
            </div>
        </nav>
        <div class="modal-bg flex">
            <div class="modal">
                <ul>
                    <li><a href="../index.html">Start&nbsp;<i class="fas fa-home"></i></a></li>
                    <li><a href="about.html">O mnie&nbsp;<i class="fas fa-address-card"></i></a></li>
                    <li><a href="portfolio.html">Portfolio&nbsp;<i class="fas fa-wrench"></i></a></li>
                    <li><a href="contact.html">Kontakt&nbsp;<i class="fas fa-sms"></i></a></li>
                </ul>
                <span class="modal-close">X</span>
            </div>
        </div>
    <!-- 
    END OF MENU
    -->

    <header class="">
        <div class="header_text">
            <h1 id="h1_header" style="font-size: 4em;">Mój github: 
                <span style="font-weight: 600; color: #FFC947;">
                    <a href="https://github.com/ehoze" target="_blank"><i class="fab fa-github"></i></a>
                </span>
            </h1>
            <p>Wrzucam tam swoje zadania ze szkoły, własne projekty czy też mniejsze pierdółki, które tworzę 😁</p>
        </div>        
        <div class="header_underblock">
            <div class="flex"><i class="fas fa-arrow-down"></i></div>
        </div>
    </header>
    <section class="first_section">
        <div class="upper_section">
            <div class="text_section">
                <h1>
                    Przykładowa strona rejestracji
                </h1>
    
                <p>
                    Strona powstała w tamtym roku, gdy już nabyłem trochę umięjętności oraz Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maxime libero autem, labore illo modi veritatis sit perferendis ex nemo debitis repudiandae, facilis esse sapiente, est eligendi aperiam aspernatur quis!
                </p>
            </div>
            <div class="img_section">
                <a href="../examples/register_view/index.html"><img src="../assets/examples/register_view.png">
                    <div class="img_overlay">
                        <div class="overlay_text"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="lower_section">
            <div class="img_section">
                <a href="../examples/register_view/index.html"><img src="../assets/examples/branding_menu.png">
                    <div class="img_overlay">
                        <div class="overlay_text"></div>
                    </div>
                </a>
            </div>
            <div class="text_section">
                <h1>
                    Przykładowa strona z menu
                </h1>
    
                <p>
                    Strona powstała w tamtym roku, gdy już nabyłem trochę umięjętności oraz Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maxime libero autem, labore illo modi veritatis sit perferendis ex nemo debitis repudiandae, facilis esse sapiente, est eligendi aperiam aspernatur quis!
                </p>
            </div>
            
        </div>
    </section>
    </div>
</body>
<script src="../js/menu.js"></script>
</html>