<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/portfolio_style.css">
    <script src="https://kit.fontawesome.com/3131841332.js" crossorigin="anonymous"></script>
    <title>Eryk Kucharski</title>
    <link rel="shortcut icon" href="../ehozeicon.ico"/>
</head>
<body>
    <!-- 
        MENU
    -->
        <nav class="flex">
            <div id="nav-logobox" class="flex">
                <button class="navmenu" id="menu-btn"><i id="menuicon" class="fas fa-caret-square-down"></i></button>
            </div>
        </nav>
        <div class="modal-bg flex">
            <div class="modal">
                <ul>
                    <li><a href="../index.html">Start&nbsp;<i class="fas fa-home"></i></a></li>
                    <li><a href="about.html">O mnie&nbsp;<i class="fas fa-address-card"></i></a></li>
                    <li><a href="portfolio.html">Portfolio&nbsp;<i class="fas fa-wrench"></i></a></li>
                    <li><a href="contact.html">Kontakt&nbsp;<i class="fas fa-sms"></i></a></li>
                </ul>
                <span class="modal-close">X</span>
            </div>
        </div>
    <!-- 
    END OF MENU
    -->

    <header class="">
        <div class="header_text">
            <h1 id="h1_header" style="font-size: 4em;">Mój github: 
                <span style="font-weight: 600; color: #FFC947;">
                    <a href="https://github.com/ehoze" target="_blank"><i class="fab fa-github"></i></a>
                </span>
            </h1>
            <p>Wrzucam tam swoje zadania ze szkoły, własne projekty czy też mniejsze pierdółki, które tworzę 😁</p>
            <p>Prace poniżej były robione głównie jako zadania szkolne, czy projekty własne. Nie są one responsywne i dostosowane dla telefonów. Proszę o wzięcie tego pod uwagę 🥳</p>
        </div>        
        <div class="header_underblock">
            <div class="flex"><i class="fas fa-arrow-down"></i></div>
        </div>
    </header>

    <!-- SOF SECTION -->
    <section class="portfolio_section">
        <div class="upper_section">

            <!-- UPPER SECTION -->
            <div class="text_section">
                <h1>
                    <a href="../examples/register_view/index.html" target="_blank">Przykładowa strona rejestracji</a>
                </h1>
    
                <p>
                    Strona powstała w tamtym roku, gdy już nabyłem trochę umięjętności a jej celem było nauczenie się robienia przykładowych formularzy rejestracji czy też logowania. Do samej strony był działający system bazodanowy ale tu staram się przedstawić tylko front-end.
                </p>
            </div>
            <div class="img_section">
                <a href="../examples/register_view/index.html" target="_blank"><img src="../assets/examples/register_view.png">
                    <div class="img_overlay">
                        <div class="overlay_text">Przejdź na stronę</div>
                    </div>
                </a>
            </div>
        </div>

        <!-- LOWER SECTION -->
        <div class="lower_section">
            <div class="img_section">
                <a href="../examples/Branding_menu/index.html" target="_blank"><img src="../assets/examples/branding_menu.png">
                    <div class="img_overlay">
                        <div class="overlay_text">Przejdź na stronę</div>
                    </div>
                </a>
            </div>
            <div class="text_section">
                <h1>
                    <a href="../examples/Branding_menu/index.html" target="_blank">Przykładowa strona z menu</a>
                </h1>
    
                <p>
                    Zadaniem było stworzenie wyjeżdzającego menu oraz z wyświetlającymi się opcjami jedna po drugiej (tzw. "delay").
                </p>
            </div>
        </div>

    </section>
    <!-- EOF SECTION -->

    <!-- SOF SECTION -->
    <section class="portfolio_section">
        <div class="upper_section">

            <!-- UPPER SECTION -->
            <div class="text_section">
                <h1>
                    <a href="../examples/Grandmas_donuts/index.html" target="_blank">Grandma's Donuts - Strona informacyjna</a>
                </h1>
    
                <p>
                    Strona gastronomiczna o pączkach, sklep czy też po prostu reklama. W tym zadaniu, miałem odwzorować przygotowaną wcześniej, niestety nie wiem czy istniejącą stronę, na podstawie tylko dwóch zdjęć. Więcej informacji nie mieliśmy. Zadanie udało mi się ukończyć a dodatkowo pododawałem jakieś efekty od siebie.
                </p>
            </div>
            <div class="img_section">
                <a href="../examples/Grandmas_donuts/index.html" target="_blank"><img src="../assets/examples/grandmas_donuts.png">
                    <div class="img_overlay">
                        <div class="overlay_text">Przejdź na stronę</div>
                    </div>
                </a>
            </div>
        </div>

        <!-- LOWER SECTION -->
        <div class="lower_section">
            <div class="img_section">
                <a href="../examples/Slider/index.html" target="_blank"><img src="../assets/examples/slider.png">
                    <div class="img_overlay">
                        <div class="overlay_text">Przejdź na stronę</div>
                    </div>
                </a>
            </div>
            <div class="text_section">
                <h1>
                    <a href="../examples/Slider/index.html" target="_blank">Slider - czyli przesuwane zdjęcia</a>
                </h1>
    
                <p>
                    W tym przypadku miałem zaprezentować umięjętności utworzenia własnego slider'a. Nie jest to nic większego jednakże trzeba było trzymać się podanego wzoru.
                </p>
            </div>
        </div>

    </section>
    <!-- EOF SECTION -->

    <!-- SOF SECTION -->
    <section class="portfolio_section">
        <div class="upper_section">

            <!-- UPPER SECTION -->
            <div class="text_section">
                <h1>
                    <a href="../examples/Shop_gallery/index.html" target="_blank">Widok galerii sklepu</a>
                </h1>
    
                <p>
                    Tu stworzyłem widok główny sklepu, strona ta istnieje naprawde (niestety nie pamiętam już jej nazwy, była to niezbyt popularna strona). Niżej na stronie miałem użyć slider'a przy pomocy bibliotek zewnętrznych.
                </p>
            </div>
            <div class="img_section">
                <a href="../examples/Shop_gallery/index.html" target="_blank"><img src="../assets/examples/shop_gallery.png">
                    <div class="img_overlay">
                        <div class="overlay_text">Przejdź na stronę</div>
                    </div>
                </a>
            </div>
        </div>

        <!-- LOWER SECTION -->
        <div class="lower_section">
            <div class="img_section">
                <a href="../examples/Hamburger_world/index.html" target="_blank"><img src="../assets/examples/hamburger_world.png">
                    <div class="img_overlay">
                        <div class="overlay_text">Przejdź na stronę</div>
                    </div>
                </a>
            </div>
            <div class="text_section">
                <h1>
                    <a href="../examples/Hamburger_world/index.html" target="_blank">Sklep sprzedający Hamburgery</a>
                </h1>
                <p>
                    Ta strona to moje niedawne dzieło. Znajomy chciał sprawdzić jak sobie poradzę jeśli dostanę wolną rękę przy spełnianiu jego myśli. Nie liczył na żadne efekty ani dodatki. Chodziło o prostotę i statyczną stronę.
                </p>
            </div>
        </div>

    </section>
    <!-- EOF SECTION -->
     <!-- SOF SECTION -->
     <section class="portfolio_section">
        <div class="upper_section" style="height: 100%;">
            <div class="text_section" id="last" style="align-items: center;">
                <h1>
                    To nie wszystko! 
                </h1>
                <p>
                    Posiadam jeszcze wiele innych projektów, którymi nie chcę zawalać github'a. Poza samym front-endem zajmuję się też back-endem oraz nie webowymi językami programowania.
                </p>
            </div>
        </div>

    </section>
    <!-- EOF SECTION -->
    </div>
</body>
<script src="../js/menu.js"></script>
</html>