<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/portfolio_style.css">
    <script src="https://kit.fontawesome.com/3131841332.js" crossorigin="anonymous"></script>
    <title>Eryk Kucharski</title>
    <link rel="shortcut icon" href="ehozeicon.ico"/>
</head>
<body>
    <!-- 
        MENU
    -->
        <nav class="flex">
            <div id="nav-logobox" class="flex">
                <button class="navmenu" id="menu-btn"><i id="menuicon" class="fas fa-caret-square-down"></i></button>
            </div>
        </nav>
        <div class="modal-bg flex">
            <div class="modal">
                <ul>
                    <li><a href="../index.html"><i class="fas fa-home">&nbsp;</i> Strona główna  </a></li>
                    <li><a href="about.html"><i class="fas fa-address-card">&nbsp;</i> O mnie    </a></li>
                    <li><a href="portfolio.html"><i class="fas fa-wrench">&nbsp;</i>Portfolio   </a></li>
                    <li><a href="contact.html"><i class="fas fa-sms">&nbsp;</i> Kontakt </a></li>
                </ul>
                <span class="modal-close">X</span>
            </div>
        </div>
    <!-- 
    END OF MENU
    -->

    <header class="">
        <div class="header_text">
            <h1 id="h1_header">Link do mojego github'a: 
                <span style="font-weight: 600; color: #FFC947;">
                    <a href="https://github.com/ehoze" target="_blank"><i class="fab fa-github"></i></a>
                </span>
            </h1>
        </div>        
        <div class="header_underblock">
            <div class="flex"><i class="fas fa-arrow-down"></i></div>
        </div>
    </header>
    <section class="first_section">

    </section>
    </div>
</body>
<script src="../js/menu.js"></script>
</html>