@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html {
  height: 100%;
}
body 
    {
        margin:0;
        padding:0;
        font-family: 'Raleway', sans-serif;
        background: linear-gradient(#f0e051, #d1da5c);
        overflow: hidden;
    }


    @keyframes color 
      { 
        0% { color:rgb(255, 255, 255); }
        50% { color:  #f0e051 }
        100% { color: white}
      }

      



    .login-box
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgb(0, 0, 0);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }

    .login-box h2 
    {
      letter-spacing: 10px;
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        animation-name: color;
        animation-duration:5s;
        animation-iteration-count:infinite;
    }

    .login-box .user-box 
    {
        display: flex;
        position: relative;
    }

    .login-box .user-box input 
    {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #f0f403;
        outline: none;
        background: transparent;
    }

    .login-box .user-box label 
    {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label 
    {
        top: -30px;
        left: 0;
        color: #f0f403;
        font-size: 16px;
    }
  .imienazwisko2
  {
    width: 600px;
  }

    .imienazwisko
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    a
    {
        color: #f0f403;
    }
    .akceptacja
    {
      position: relative;
      left: 10%;
      text-decoration-color: aliceblue;
    }
    
    p
    {
        color:white;
        font-size: 15px;
        padding: 0px;
    }
    
    
    .center
    {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      vertical-align: middle;
    }
    
    /* PRZYCISK */
    
    :root 
    {
      --colour-black: #1e1e1e;
      --colour-white: #ffffff;
      --font-family: Raleway, sans-serif;
      --font-size: 100%;
    }
    
    
    button, .button
    {
  --button: hsl(0, 0%, 12%);
  --button-hover: hsl(0, 0%, 20%);
  --button-active:  hsl(0, 0%, 30%);
  --button-visited: hsl(0, 0%, 20%);
  --button-colour: var(--colour-white);
  --button-border: var(--colour-black);
}

button {
  width: 100%;
  position: relative;
  padding: .9rem 1.7rem;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: var(--button);
  border: solid 1px var(--button-border);
  box-shadow: inset 0 0 0 2px var(--colour-white);
  margin-right: 1em;
  transition: all 0.3s;
}

button:hover {
  letter-spacing: 1px;
  transform: scale(1.1);
  font-size: large;
  text-decoration: none;
  background: var(--button-hover);
  box-shadow: inset 0 0 0 10px #313131;
}

button:active {
  background: var(--button-active);
}

button:visited {
  background: var(--button-visited);
}